@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Primary */
  --color-blue-500: hsl(220, 98%, 61%);
  --color-background: #ffffff;
  --color-input: #fff;
  --color-white: #fff;

  /* Light Theme */
  --color-gray-50: hsl(0, 0%, 98%);
  --color-gray-300: hsl(233, 11%, 84%);
  --color-gray-400: hsl(236, 9%, 61%);
  --color-purple-100: hsl(236, 33%, 92%);
  --color-purple-300: hsl(234, 39%, 85%);
  --color-navy-850: hsl(235, 19%, 35%);

  /* Check Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%) */

  /* Breakpoints */
  --breakpoint-xs: 376px;

  --font-display: "Josefin Sans", sans-serif;
}

.dark {
  /* Dark Theme */
  --color-background: hsl(235, 21%, 11%);
  --color-input: hsl(235, 24%, 19%);
  --color-purple-300: hsl(234, 39%, 85%);
  --color-purple-600: hsl(235, 16%, 43%);
  --color-purple-700: hsl(233, 14%, 35%);
  --color-purple-800: hsl(237, 14%, 26%);
  --color-gray-600: hsl(236, 9%, 61%);
}
